<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>110336967371-k4pbjbte7guoc90vgja9iqglom600kbg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.110336967371-k4pbjbte7guoc90vgja9iqglom600kbg</string>
	<key>API_KEY</key>
	<string>AIzaSyAJQo1YrYsIeQFRQdSefXAvJF1r39n-6F4</string>
	<key>GCM_SENDER_ID</key>
	<string>110336967371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CStudy.EasyPlaniOS</string>
	<key>PROJECT_ID</key>
	<string>easyplan-1c4b5</string>
	<key>STORAGE_BUCKET</key>
	<string>easyplan-1c4b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:110336967371:ios:a00fca948bef655b7f914e</string>
	<key>DATABASE_URL</key>
	<string>https://easyplan-1c4b5.firebaseio.com</string>
</dict>
</plist>