<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>357353831267-0alb0lbglsi3mhe5qdric4f9l9rbb0pf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.357353831267-0alb0lbglsi3mhe5qdric4f9l9rbb0pf</string>
	<key>API_KEY</key>
	<string>AIzaSyCeuDv3zNO8mVToMq8GZdKTLAR5NSHbFbs</string>
	<key>GCM_SENDER_ID</key>
	<string>357353831267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CStudy.EasyPlaniOS</string>
	<key>PROJECT_ID</key>
	<string>easy-plan-8e84f</string>
	<key>STORAGE_BUCKET</key>
	<string>easy-plan-8e84f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357353831267:ios:16e3e7b3cd3d34458eb156</string>
	<key>DATABASE_URL</key>
	<string>https://easy-plan-8e84f.firebaseio.com</string>
</dict>
</plist>